.logo {
  display: flex;
  flex-shrink: 0;
  align-items: flex-start;
  user-select: none;
  -webkit-user-select: none;
}

.logo--full {
  flex-direction: column;
  align-items: center;
}

.logo--compact {
  align-items: center;
  justify-content: center;
}

.logo__title {
  margin: 0;
  font-weight: 800;
  line-height: 1;
  background: linear-gradient(to right bottom, #41b37d, #1a452d);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.logo--full .logo__title {
  font-size: 71px;
}

.logo--compact .logo__title {
  font-size: 35px;
}

.logo__subtitle {
  margin: 0;
  font-weight: 200;
  font-size: 14px;
  line-height: 1;
  color: var(--color-text-primary);
}
